.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    margin-right: 12%;
    margin-bottom: 2%;
}

input[type=text], input[type=url] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button[type=submit] {
    width: 50%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
